<div class="col menulateral">
  <div class="row profileheader">
    <h5>&nbsp;Nombre del usuario</h5>
  </div>
  <div class="bodylinks">
    <div>
      <a href="#" class="profilelink">
        <i class="fa-solid fa-user"></i>
        <span>&nbsp;Mis datos</span></a>
    </div>
    <hr width="100%">
    <div>
      <a href="#" class="profilelink">
        <i class="fa-sharp fa-solid fa-cart-shopping"></i>
        <span>&nbsp;Historial de compra</span></a>
    </div>
    <hr width="100%">
    <div>
      <a href="#" class="profilelink">
        <i class="fa-solid fa-key"></i>
        <span>&nbsp;Cambiar contraseña</span></a>
    </div>
    <hr width="100%">
    <div>
      <a href="#" class="profilelink">
        <i class="fa-solid fa-location-dot"></i>
        <span>&nbsp;Modificar direccion de envio</span></a>
    </div>
    <hr width="100%">
    <div>
      <a href="#" class="profilelink">
        <i class="fa-solid fa-credit-card"></i>
        <span>&nbsp;Modificar metodos de pago</span></a>
    </div>
    <hr width="100%">
    <div>
      <a href="#" class="profilelink">
        <i class="fa-solid fa-circle-question"></i>
        <span>&nbsp;Preguntas frecuentes</span></a>
    </div>
    <hr width="100%">
    <div>
      <a href="#" class="profilelink">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>&nbsp;Cerrar sesion</span></a>
    </div>
  </div>
</div>
