<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container mt-5 mb-5rounded shadow">
    <div class="row align-items-stretch">
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

      </div>
      <div class="col bg-white p-5 rounded-end">
        <div class="text-end">
          <img src="./../../../assets/patagonik texto sin fondo.png" width="25%" alt="logo">
        </div>

        <h2 class="fw-bold text-center py-5">Bienvenido</h2>
        <!-- LOGIN -->

        <form [formGroup]="registerForm" (submit)="newUser()">
          <div class="mb-4">
            <label class="form-label">Correo Electronico</label>
            <input type="email" formControlName="email" [class.is-invalid]="emailInvalid" class="form-control" name="email">
            <small *ngIf="emailInvalid" class="text-danger">Campo obligatorio</small>

          </div>
          <div class="mb-4">
            <label class="form-label">Contraseña</label>
            <input type="password" formControlName="password" [class.is-invalid]="passwordInvalid" class="form-control" name="password">
            <small *ngIf="passwordInvalid" class="text-danger">La contraseña debe tener entre 6 a 20 caracteres</small>
          </div>
          <div class="mb-4">
            <label class="form-label">Repita su contraseña</label>
            <input type="password" formControlName="password2" [class.is-invalid]="password2Invalid" class="form-control" name="password2">
            <small *ngIf="password2Invalid" class="text-danger">La contraseña no coinciden</small>
          </div>
          <!-- <div class="mb-4" form-check>
            <input type="checkbox" name="connected" class="form-check-input">
            <label for="connected" class="form-check-label">&nbsp;Recordar sesion</label>
          </div> -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
          <div class="my-3">
            <span>¿Ya tienes cuenta?<a routerLink='login'>&nbsp;Iniciar Sesion</a></span>
          </div>
        </form>

        <!-- LOGIN CON REDES SOCIALES
        <div class="container w-100 my-5">
          <div class="row text-center mb-2">
            <div class="col-12">Registrate con</div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-primary w-100 my-1">
                <div class="row align-items-center">
                  <div class="col-2 d-none d-md-block">
                    <img src="./../../../assets/facebook-3-3.svg" width="32" alt="">
                  </div>
                  <div class="col-12 col-md-10 text-center">
                    Facebook
                  </div>
                </div>
              </button>
            </div>
            <div class="col">
              <button class="btn btn-outline-danger w-100 my-1">
                <div class="row align-items-center">
                  <div class="col-2 d-none d-md-block">
                    <img src="./../../../assets/IMG-logo-google.png" width="32" alt="">
                  </div>
                  <div class="col-12 col-md-10 text-center">
                    Google
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>


</body>
</html>
