
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">

  <!-- Container wrapper -->
  <div class="container">

    <!-- Logo Página -->
    <a class="logo" ><img src="../../../assets/logo_small_nonebackground.png" width="150px" height="50px"></a>

    <!-- Botón Responsivo -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <br>

      <!-- Formulario de Busqueda -->
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" id="product" placeholder="Qué estás buscando?" (keydown)="search($event)">
      </div>
      <br>

      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active d-flex text-center" aria-current="page" routerLink="tienda"><span class="small">Inicio</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active d-flex  text-center" aria-current="page" routerLink="nosotros"><span class="small">Quienes Somos</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active d-flex text-center" aria-current="page" routerLink="contacto"><span class="small">Soporte</span></a>
        </li>
    <ng-container *ngIf="!restService.loggedIn(); else loggedIn">
        <!-- <li class="nav-item">
          <a class="nav-link active d-flex text-center" aria-current="page" routerLink="register"><span class="small">Registrarse</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active d-flex text-center" aria-current="page" routerLink="login"><span class="small">Entrar</span></a>
        </li>
      </ng-container>
      <ng-template #loggedIn>
        <a class="nav-link active d-flex text-center" aria-current="page" (click)="restService.logout()" routerLink="login"><span class="small">Salir</span></a>
      </ng-template>
        <li class="nav-item">
          <a
            class="nav-link align-items-center"
            routerLink="carrito"
            id="navbarDropdown"
            role="button"
            aria-expanded="false"
          ><i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
