<br>
<!-- Título  -->
<h3 class="carr">Mi carrito</h3>
<br>

<div class="b-divider"></div>

<br>
<!-- Botónes redireccion  -->
<div class="container">
  <div class="cart-action">
    <a routerLink="" class="btn  mr-10 mb-sm-15"><i class="fa-solid fa-bag-shopping mr-10"></i>Volver a Tienda</a>
    <a href="./finalize" class="btn "><i class="fa-solid fa-wallet mr-10"></i>Proceder a Pagar</a>
  </div>
</div>

<br>

<div class="b-divider"></div>
<!-- Contenedor Productos  -->
<div class="container">
  <br>
  <h4>Productos añadidos a tu carrito</h4>
  <br>
  <div class="table-responsive">
    <!-- Tabla Titulos  -->
    <table class="table shopping-summery text-center clean">
        <thead>
            <tr class="main-heading">
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Remover</th>
            </tr>
        </thead>
        <!-- Informacion de productos  -->
        <tbody>
            <tr>
              <!-- Imágen  -->
                <td class="image product-thumbnail"><img src="./../../../assets/b05afb11-db22-461d-b94e-49bdc316b445.webp" height="89"
                  width="105"></td>
                  <!-- Nombre  -->
                <td class="product-des product-name">
                    <h5 class="product-name"><a href="./carrito">Zapatilla Nike</a></h5>
                </td>
                <!-- Precio  -->
                <td class="price" data-title="Price"><span>$21000 </span></td>
                <!-- Stock  -->
                <td class="text-center" data-title="Stock">
                    <div class="detail-qty border radius  m-auto">
                        <a href="#" class="qty-down"><i class="fa-solid fa-angle-down"></i></a>
                        <span class="qty-val">1</span>
                        <a href="#" class="qty-up"><i class="fa-solid fa-angle-up"></i></a>
                    </div>
                </td>
                <!-- Precio Total cantidad de productos  -->
                <td class="text-right" data-title="Cart">
                    <span>$21000 </span>
                </td>
                <!-- Botón Remover  -->
                <td class="action" data-title="Remove"><a href="#" class="text-muted"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <!--  Se Repite todo -->
            <tr>
              <td class="image product-thumbnail"><img src="./../../../assets/b05afb11-db22-461d-b94e-49bdc316b445.webp" height="89"
                width="105"></td>
                <td class="product-des">
                    <h5 class="product-name"><a href="./carrito">Nike</a></h5>
                </td>
                <td class="price" data-title="Price"><span>$21000</span></td>
                <td class="text-center" data-title="Stock">
                    <div class="detail-qty border radius  m-auto">
                        <a href="#" class="qty-down"><i class="fa-solid fa-angle-down"></i></a>
                        <span class="qty-val">2</span>
                        <a href="#" class="qty-up"><i class="fa-solid fa-angle-up"></i></a>
                    </div>
                </td>
                <td class="text-right" data-title="Cart">
                    <span>$42000 </span>
                </td>
                <td class="action" data-title="Remove"><a href="#" class="text-muted"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
              <td class="image product-thumbnail"><img src="./../../../assets/b05afb11-db22-461d-b94e-49bdc316b445.webp" height="89"
                width="105"></td>
                <td class="product-des">
                    <h5 class="product-name"><a href="./carrito">Nike </a></h5>
                </td>
                <td class="price" data-title="Price"><span>$21000 </span></td>
                <td class="text-center" data-title="Stock">
                    <div class="detail-qty border radius  m-auto">
                        <a href="#" class="qty-down"><i class="fa-solid fa-angle-down"></i></a>
                        <span class="qty-val">1</span>
                        <a href="#" class="qty-up"><i class="fa-solid fa-angle-up"></i></a>
                    </div>
                </td>
                <td class="text-right" data-title="Cart">
                    <span>$21000 </span>
                </td>
                <td class="action" data-title="Remove"><a href="./carrito" class="text-muted"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td colspan="6" class="text-end">
                    <a href="./carrito" class="text-muted"> <i class="fa-solid fa-xmark"></i> Borrar Todo</a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Total de la compra  -->
    <div class="total">
      <div class="pago">
        <h4>Total a Pagar</h4>
        <p>(sin coste de envío)</p>
      </div>
      <h3>AR$ 64000</h3>
    </div>

  </div>

</div>

<br>
<div class="b-divider"></div>
<br><br>

<!-- Botones redireccion  -->
<div class="container">
  <div class="cart-action">
      <a routerLink="" class="btn  mr-10 mb-sm-15"><i class="fa-solid fa-bag-shopping mr-10"></i>Volver a Tienda</a>
      <a href="./finalize" class="btn "><i class="fa-solid fa-wallet mr-10"></i>Proceder a Pagar</a>
  </div>
</div>

<br><br>


