<body>
  <!-- Formulario de Contactos  -->
    <section class="ftco-section">

      <div class="container">
        <!-- Titulo  -->
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Contactate Con Nosotros</h2>
          </div>
        </div>
        <!--  Formulario Commpleto -->
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12">
            <div class="wrapper">
              <div class="row no-gutters">
                <!-- Te contactamos nosotros  -->
                <div class="col-md-7 d-flex align-items-stretch">
                    <div class="contact-wrap w-100 p-md-5 p-4">

                      <h3 class="mb-4">Te contactamos nosotros</h3>
                      <div id="form-message-warning" class="mb-4"></div>

                      <div id="form-message-success" class="mb-4">
                      Your message was sent, thank you!
                      </div>
                      <!-- Formulario para que llene el cliente  -->
                      <form method="POST" id="contactForm" name="contactForm" novalidate="novalidate">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Nombre">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                            <input type="text" class="form-control" name="last" id="last" placeholder="Apellido">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                            <textarea name="message" class="form-control" id="message" cols="30" rows="7" placeholder="Mensaje"></textarea>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                            <input type="submit" value="Enviar Mensaje" class="btn btn-primary">
                            <div class="submitting"></div>
                          </div>
                          </div>
                        </div>
                      </form>
                      <!-- Fin Formulario  -->
                    </div>
                </div>
                <!-- Informacion de contacto  -->
                <div class="col-md-5 d-flex align-items-stretch">
                  <div class="info-wrap bg-primary w-100 p-lg-5 p-4">
                    <h3 class="mb-4 mt-md-4">Información de Contacto</h3>
                  <div class="dbox w-100 d-flex align-items-start">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-map-marker"></span>
                    </div>
                    <!-- Lugar  -->
                    <div class="text pl-3">
                      <p><span>Lugar:</span> General Roca, Río Negro, Argentina</p>
                    </div>
                  </div>
                  <!-- Telefono  -->
                  <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-phone"></span>
                    </div>
                    <div class="text pl-3">
                      <p><span>Teléfono:</span> <a href="tel://1234567920">+54-298-4213696</a></p>
                    </div>
                  </div>
                  <!--  Email -->
                  <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-paper-plane"></span>
                    </div>
                    <div class="text pl-3">
                      <p><span>Email:</span> <a href="mailto:info@yoursite.com">example@gmail.com</a></p>
                    </div>
                  </div>
                  <!-- Página (Innecesario)  -->
                  <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-globe"></span>
                    </div>
                    <div class="text pl-3">
                      <p><span>Website</span> <a href="#">yoursite.com</a></p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    </body>
