/*Estilos generales*/
body{
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #D9D9D9;
  color: gray;
  margin: 0;
  text-align: left;
  height: 100%;
  display: block;
}

/*Formulario Completo*/
.ftco-section{
  padding: 7em 0;
}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*Alineacion de elementos*/
.justify-content-center{
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center{
  text-align: center !important;
}

.mb-5, .my-5{
  margin-bottom: 3rem !important;
}

/*Titulo cabecera*/
.heading-section{
  font-size: 28px;
  color: #000;
}

/*Estilos letras*/
h1, h2, h3, h4, h5{
  line-height: 1.5;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin-top: 0;
}

.wrapper{
  width: 100%;
  box-shadow: 0 21px 41px -13px rgb(0, 0, 0 / 18%);
}

.no-gutters{
  margin-right: 0;
  margin-left: 0;
}

/*Alinear formulario a la izquierda*/
.align-items-stretch{
  -webkit-box-align: stretch !important;
  align-items: stretch !important;
}

.d-flex{
  display: flex !important;
}

/*Fondo del formulario camuflado con la página*/
.contact-wrap{
  background: #D9D9D9;
}

.mb-4, .my-4{
  margin-bottom: 1.5rem !important;
}

h3{
  font-size: 1.75rem;
}

/*Formulario Contacto*/
.form-group{
  margin-bottom: 1rem;
}

#contactForm .form-control{
  font-size: 16px;
}

.form-control{
  height: 52px;
  background: #fff;
  color: #000;
  border-radius: 2px;
  box-shadow: none !important;
  border: 1px solid rgb(0, 0, 0,.1);
}

/*Boton de envio*/
.btn .btn-primary{
  background: #1089ff !important;
  border-color: #1089ff !important;
  color: #fff;
}

.bg-primary{
  background: #9CAFC0 !important;
}

.btn{
  padding: 12px 16px;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  margin-bottom: 20px;
  transition: .3s;
}

/*Informacion del comerio*/
.info-wrap{
  margin-top: -20px;
  margin-bottom: -20px;
  border-radius: 5px;
}

.info-wrap h3{
  color: #fff;
}
/*Fondo*/
.info-wrap .dbox{
  width: 100%;
  color: rgba(255, 255, 255, .8);
  margin-bottom: 25px;
}

.info-wrap .dbox .icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .1);
}

.info-wrap .dbox .icon span{
  font-size: 20px;
  color: #fff;
}

.info-wrap .dbox .text{
  width: calc(100% - 50px);
}

.pl-3, .px-3{
  padding-left: 1rem !important;
}

.info-wrap .dbox p{
  margin-bottom: 0;
}

p{
  margin-top: 0;
  margin-bottom: 1rem;
}

.info-wrap .dbox p span{
  font-weight: 600;
  color: #fff;
}

.info-wrap .dbox p a{
  color: #fff;
}

a{
  transition: .3s all ease;
  text-decoration: none;
  background-color: transparent;
}

.p-md-5{
  padding: 3rem !important;
}

textarea.form-control{
  height: inherit !important;
  height: auto;
}

/*Fin de Info del comercio*/
