<br><br><br><br>

<div class="titulo">
  <h3 class="principal">
    Vení, te contamos nuestra
  </h3>
  <h3 class="principal">
    Historia
  </h3>
</div>

<br><br><br>

<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <br><br>
        <p class="lead">Patagonia styles nacio junto con una amistad de mas de 5 años entre amigos, en donde surgia el problema constante de ¿Porque una zapatilla original es tan cara? y ¿Porque las zapatillas replicas son tan malas?, No lo pensamos mas y empezamos a investigar, llevando adelante este proyecto, por mas de 1 año somos la pagina n1 en ventas de replicas.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="logo" width="300" height="300" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" src="./../../../assets/logo-ecommerce 1.png">
      </div>
    </div>

    <hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->


  <!-- Three columns of text below the carousel -->
  <section class="py-5">
    <div class="container py-4">
      <div class="row gy-4">
        <!-- Service-->
        <div class="col-lg-4 col-md-6 block-icon-hover text-center">
          <div class="icon icon-outlined icon-outlined-primary icon-thin mx-auto mb-3"><i class="fa-solid fa-handshake"></i></div>
          <h4 class="text-uppercase mb-3">Confianza</h4>
          <p class="text-gray-600 text-sm">Podes confiar en nosotros, mas de 5 años nos respaldan en la venta de zapatillas deportivas.</p>
        </div>
        <!-- Service-->
        <div class="col-lg-4 col-md-6 block-icon-hover text-center">
          <div class="icon icon-outlined icon-outlined-primary icon-thin mx-auto mb-3"><i class="fa-solid fa-jet-fighter"></i></div>
          <h4 class="text-uppercase mb-3">Rapidéz</h4>
          <p class="text-gray-600 text-sm">Todos los pedidos que sean pagados antes de las 16:00 seran despachados ese mismo dia, agilizando la llegada de tu zapatilla tu puerta</p>
        </div>
        <!-- Service-->
        <div class="col-lg-4 col-md-6 block-icon-hover text-center">
          <div class="icon icon-outlined icon-outlined-primary icon-thin mx-auto mb-3"><i class="fa-solid fa-truck-fast"></i></div>
          <h4 class="text-uppercase mb-3">Envío</h4>
          <p class="text-gray-600 text-sm">Realizamos envios a cada rincon del pais, mediante las empresas mas conocidas y transportes privados.
            No hay rincon al que no llegemos!</p>
        </div>
      </div>
    </div>
  </section>

</div>

<br><br>
