.imgexample {
  width: 200px;
  border-radius: 100%;
}
.titlehistorybuy {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.titleitem {
  text-align: center;
  font-size: 25px;
}
.descriptionitem {
  margin-top: auto;
  margin-bottom: auto;
}
.item {
  padding-top: 20px;
  border-radius: 10px;
  background-color: #FFFF;
}
.envio {
  font-size: 20px;
}
.divimg {
  text-align: center;
}
