<div class="row">
  <div class="col-3">
    <app-menuprofile></app-menuprofile>
  </div>
  <div class="col">
    <div class="container">
      <div class="titlehistorybuy">
        <hr>
        <span><b>Historial de compra</b></span>
        <hr>
      </div>
      <div class="row item">
        <div class="titleitem">
          <span><b>Zapatilla Montagne ProRun K3 Mujer</b></span>
        </div>
        <div class="col-4 descriptionitem">
          <div><span class="envio"><b>Caracteristicas</b></span></div>
          <span><b>Marca</b>:&nbsp;Nike</span><br>
          <span><b>Modelo</b>:&nbsp;Air max</span><br>
          <span><b>Talle</b>:&nbsp;43</span><br>
          <span><b>Color</b>:&nbsp;Azul</span>
        </div>
        <div class="col-4 descriptionitem">
          <div><span class="envio"><b>Envio</b></span></div>
          <span><b>Empresa</b>:&nbsp;Correo Argentino</span><br>
          <span><b>Codigo de seguimiento</b>:&nbsp;a44asd1f</span><br>
          <span><b>Fecha compra</b>:&nbsp;17/05/2022</span><br>
          <span><b>Estado</b>:&nbsp;En camino</span>

        </div>
        <div class="col-4 divimg">
          <img src="./../../../assets/zapatillaexamplehistory.png" class="imgexample">
        </div>
      </div>
    </div>
  </div>
</div>
