<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="col-md-auto">
        <div class="row profileheader">
          <div class="col-2">
            <img src="./../../../assets/userdefault.svg" width="70px" class="userimg">
          </div>
          <div class="col-10 titleuser">
            <h4>&nbsp;&nbsp;Nombre del usuario</h4>
          </div>
        </div>
        <div class="bodylinks">
          <div>
            <a href="#" class="profilelink">
              <i class="fa-sharp fa-solid fa-cart-shopping"></i>
              <span>&nbsp;Mi carrito</span></a>
          </div>
          <hr width="100%">
          <div>
            <a href="#" class="profilelink">
              <i class="fa-solid fa-key"></i>
              <span>&nbsp;Cambiar contraseña</span></a>
          </div>
          <hr width="100%">
          <div>
            <a href="#" class="profilelink">
              <i class="fa-solid fa-location-dot"></i>
              <span>&nbsp;Modificar direccion de envio</span></a>
          </div>
          <hr width="100%">
          <div>
            <a href="#" class="profilelink">
              <i class="fa-solid fa-credit-card"></i>
              <span>&nbsp;Modificar metodos de pago</span></a>
          </div>
          <hr width="100%">
          <div>
            <a href="#" class="profilelink">
              <i class="fa-solid fa-circle-question"></i>
              <span>&nbsp;Preguntas frecuentes</span></a>
          </div>
          <hr width="100%">
          <div>
            <a href="#" class="profilelink">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span>&nbsp;Cerrar sesion</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row userdetailsheader">
        <div class="col"><b>Datos Personales</b></div>
        <div class="col"><b>Mis compras</b></div>
      </div>
      <div class="row userdetailsheader">
        <div class="col-4">
          <span>hola</span>
          <span>hola</span>
        </div>
        <div class="col">
          <div class="col">
            <span><b>Titulo</b>:&nbsp;Zapatilla Montagne ProRun K3 Mujer</span>
          </div>
          <div class="col">
            <span><b>Empresa</b>:&nbsp;Correo Argentino</span>&nbsp;
            <span><b>Estado</b>:&nbsp;En camino</span>
          </div>
        </div>
        <div class="col-3"><img src="./../../../assets/zapatillaexamplehistory.png" class="imgexample"></div>
      </div>
    </div>
  </div>
</div>
