.carousel {
box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.273);
}
.btntalle{
  border-color: black;
  border-radius: 100%;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 10px;
}
.btnInfo {
  margin-top: 10px;
}
.categorias {
  background-color: #FFFF;
  border-radius: 5px;
  padding-left: 30px;
  margin-bottom: 20px;
}
.titulocategoria {
  font-size: 20px;
}
.titlefilter {
  font-size: 25px;
  margin-top: 10px;
}
#categoryItem {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
#categoryItemtalle {
  margin-left: 4px;
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.options{
  display: flex;
  justify-content: right;
  display: right;
  margin-right: 300px;
}
.contenedorbody {
  margin-bottom: 20px;
}
/*<!-- Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
