<!--Etiquete Principal con el fondo de la página-->
<body style="background-color:#D9D9D9;">
  <!--Carrousel para imágenes-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
        class=""></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"
        class=""></button>
    </div>
    <!--Imagen 1-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="./../../../assets/ad.png" width="810"
          height="400" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
          focusable="false">
      </div>
      <!--Imagen 2-->
      <div class="carousel-item active">
        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="./../../../assets/nk.png" width="810"
          height="400" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
          focusable="false">
      </div>
      <!--Imagen 3-->
      <div class="carousel-item active">
        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="./../../../assets/sn.png" width="810"
          height="400" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
          focusable="false">

      </div>
    </div>
    <!--Boton imagen anterior-->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <!--Boton Imagen Posterior-->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>

  <section class="padding-y">
    <div class="container">

    <div class="row">
      <aside class="col-lg-3">

    <!-- ===== Menu Lateral para Filtros ===== -->
    <div id="aside_filter" class="card d-lg-block mb-5 collapse">
      <strong class="d-block py-2"> Filtrar Productos </strong>
      <!--Filtro para Marcas-->
      <article class="filter-group">
        <header class="card-header">
          <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside_brands" aria-expanded="false">
            <i class="icon-control fa fa-chevron-down"></i>  Marcas
          </a>
        </header>
        <div class="collapse" id="collapse_aside_brands">
          <div class="card-body">

            <a href="" *ngFor="let brand of brands"><label class="checkbox-btn">
              <input type="checkbox">
              <span class="btn btn-light"> {{brand.name_brand}} </span>
            </label></a> <!-- form-check end.// -->

              <!-- form-check end.// -->
          </div> <!-- card-body .// -->
        </div> <!-- collapse.// -->
      </article>

      <article class="filter-group">
        <header class="card-header">
          <!--Filtro para Estilos-->
          <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside_3" aria-expanded="false">
            <i class="icon-control fa fa-chevron-down"></i>  Estilos
          </a>
        </header>
        <div class="collapse" id="collapse_aside_3">
          <div class="card-body">
              <label class="form-check mb-2">
                <input class="form-check-input" type="checkbox" value="">
                <span class="form-check-label"> Deportivo </span>
              </label> <!-- form-check end.// -->

              <label class="form-check mb-2">
                <input class="form-check-input" type="checkbox" value="">
                <span class="form-check-label"> Urbano </span>
              </label> <!-- form-check end.// -->
              <!-- form-check end.// -->
          </div> <!-- card-body .// -->
        </div> <!-- collapse.// -->
      </article><!-- filter-group // -->
 <!-- filter-group // -->

      <article class="filter-group">
        <!--Filtro para Talles-->
        <header class="card-header">
          <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside3" aria-expanded="false">
            <i class="icon-control fa fa-chevron-down"></i>  Talles
          </a>
        </header>
        <div class="collapse" id="collapse_aside3">
          <div class="card-body">

              <a href="" *ngFor="let size of sizes"><label class="checkbox-btn">
                <input type="checkbox">
                <span class="btn btn-light"> {{size.number}} </span>
              </label></a>


          </div> <!-- card-body.// -->
        </div> <!-- collapse.// -->
      </article>  <!-- filter-group // -->

    </div> <!-- card.// -->
    <!-- ===== End Menu Filtros .// ===== -->

      </aside> <!-- col .// -->
      <main class="col-lg-9">

      <!--Filtro para mas recientes, etc-->
      <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
        <strong class="d-block py-2"> Patagonia Style</strong>
          <div class="ms-auto">
            <select class="form-select d-inline-block w-auto">
                <option value="0">Recientes</option>
                <option value="1">Mas Barato</option>
                <option value="2">Mas Caro</option>
            </select><!-- btn-group end.// -->
          </div>
      </header>

        <div class="row">
          <!-- Contenido Tarjetas -->
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let card of cards">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <img [src]="card.dataurl">
              </div>
              <figcaption class="info-wrap border-top">
                <div class="price-wrap">
                  <h4>{{card.title}}</h4>
                  <p class="title mb-2">Airforce Pro</p>
                  <h5 class="price">${{card.price}}</h5>
                </div>

                <a [routerLink]="['/','product',card?.id_shoes]" class="btn btn-primary">Ver Producto</a>
                <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
              </figcaption>
            </figure>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <img src="./../../../assets/zapatillaexamplehistory.png">
              </div>
              <figcaption class="info-wrap border-top">
                <div class="price-wrap">
                  <h4>NIKE</h4>
                  <p class="title mb-2">Airforce Pro</p>
                  <h5 class="price">$20000</h5>
                </div> <!-- price-wrap.// -->

                <a href="#" class="btn btn-primary">Ver Producto</a>
                <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
              </figcaption>
            </figure>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <img src="./../../../assets/zapatillaexamplehistory.png">
              </div>
              <figcaption class="info-wrap border-top">
                <div class="price-wrap">
                  <h4>NIKE</h4>
                  <p class="title mb-2">Airforce Pro</p>
                  <h5 class="price">$20000</h5>
                </div> <!-- price-wrap.// -->

                <a href="#" class="btn btn-primary">Ver Producto</a>
                <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
              </figcaption>
            </figure>
          </div>
        </div> <!-- card end.// -->

        <hr>

      </main>
    </div>
    </div>
    </section>

        <!--Boton Flotante FAQ-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <div class="floating-container">
          <a href="./faq">
          <div class="floating-button">?</div></a>
        </div>

</body>
