<!--Etiquete Principal con el fondo de la página-->
<body style="background-color:#D9D9D9;">
  <!--Carrousel para imágenes-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
        class=""></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"
        class=""></button>
    </div>
    <!--Imagen 1-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="./../../../assets/ad.png" width="810"
          height="400" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
          focusable="false">
      </div>
      <!--Imagen 2-->
      <div class="carousel-item active">
        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="./../../../assets/nk.png" width="810"
          height="400" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
          focusable="false">
      </div>
      <!--Imagen 3-->
      <div class="carousel-item active">
        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="./../../../assets/sn.png" width="810"
          height="400" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
          focusable="false">

      </div>
    </div>
    <!--Boton imagen anterior-->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <!--Boton Imagen Posterior-->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <div class="contenedorbody">
    <div class="row">
      <div class="col-xs col-sm col-md col-g options">
        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
          Mas relevantes<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Recientes</a></li>
          <li><a href="#">Mas barato</a></li>
          <li><a href="#">Mas caro</a></li>
          <li class="divider"></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-2 categorias">
          <h1 class="titlefilter">Filtrar</h1>
          <div class="category_list">
            <span><b>Marca</b></span>
            <a href="#"  *ngFor="let brand of brands "id="categoryItemtalle">{{brand.name_brand}}</a>
            <br>
            <span><b>Talle</b></span>
            <a href="#"  *ngFor="let size of sizes "id="categoryItemtalle">{{size.number}}</a>
            <br>
            <span><b>Estilo</b></span>
            <a href="#" id="categoryItem" category="deportiva">Deportivo</a>
            <a href="#" id="categoryItem" category="deportiva">Urbano</a>
            <h1></h1>
          </div>
        </div>
        <div class="col-xs col-sm col-md col-g">
          <div class="card" style="width: 18rem;"  *ngFor="let card of cards">
            <img [src]="card.dataurl" class="card-img-top" alt="...">
            <div class="card-body">
              <span><b>AirMax 2000</b></span><br>
              <span class="card-title">{{card.title}}</span>
              <h6>{{card.price}}</h6>
              <a [routerLink]="['/','product',card?.id_shoes]" class="btn btnInfo btn-primary">Ver mas</a>
            </div>
          </div>
        </div>
        <!--Boton Flotante FAQ-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <div class="floating-container">
          <a href="./faq">
          <div class="floating-button">?</div></a>
        </div>
      </div>
    </div>
  </div>
</body>
