<body style="background-color:#D9D9D9;">
<br><br>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-label="Slide 1" aria-current="true"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
      class=""></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"
      class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First
          slide</text>
      </svg>

    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second
          slide</text>
      </svg>

    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third
          slide</text>
      </svg>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-8">
      Buscaste:
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Mas relevantes<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Recientes</a></li>
        <li><a href="#">Mas barato</a></li>
        <li><a href="#">Mas caro</a></li>
        <li class="divider"></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-2 categorias">
        <h1 class="titlefilter">Filtrar por:</h1>
        <div class="category_list">
          <h1 class="titulocategoria">Marca</h1>
          <a href="#" id="categoryItem" class="row-1" category="nike">Nike</a>
          <a href="#" id="categoryItem" class="row-1" category="adidas">Adidas</a>
          <a href="#" id="categoryItem" category="puma">Puma</a>
          <a href="#" id="categoryItem" category="jordan">Jordan</a>
          <a href="#" id="categoryItem" category="gucci">Gucci</a>
          <a href="#" id="categoryItem" category="dc">DC</a>
          <a href="#" id="categoryItem" category="converce">Converce</a>
          <a href="#" id="categoryItem" category="newbalance">New Balance</a>
          <br>
          <h1 class="titulocategoria">Talle</h1>
          <a href="#" id="categoryItemtalle" category="34">34</a>
          <a href="#" id="categoryItemtalle" category="35">35</a>
          <a href="#" id="categoryItemtalle" category="36">36</a>
          <a href="#" id="categoryItemtalle" category="37">37</a>
          <a href="#" id="categoryItemtalle" category="38">38</a>
          <a href="#" id="categoryItemtalle" category="39">39</a>
          <a href="#" id="categoryItemtalle" category="40">40</a>
          <a href="#" id="categoryItemtalle" category="41">41</a>
          <a href="#" id="categoryItemtalle" category="42">42</a>
          <a href="#" id="categoryItemtalle" category="43">43</a>
          <br>
          <h1 class="titulocategoria">Estilo</h1>
          <a href="#" id="categoryItem" category="deportiva">Deportivo</a>
          <a href="#" id="categoryItem" category="deportiva">Urbano</a>
          <h1></h1>
        </div>
      </div>
      <div class="col-10">
        <div class="card" style="width: 18rem;">
          <img src="./../../../assets/b05afb11-db22-461d-b94e-49bdc316b445.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nike Su</h5>
          <a href="#" class="btn btnInfo btn-primary">Ver mas</a>
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="card" style="width: 18rem;">
          <img src="./../../../assets/b05afb11-db22-461d-b94e-49bdc316b445.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nike Su</h5>
          <a href="#" class="btn btnInfo btn-primary">Ver mas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
