.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(81, 88, 94, .12);
  border-radius: 0.35rem;
}

.card-product-grid {
  margin-bottom: 20px;
}

.card.card-product-grid .img-wrap {
  border-radius: 0.25rem 0.25rem 0 0;
}

.img-wrap img{
  height: 100%;
  max-width: 100%;
  width: auto;
}

.card-product-grid .info-wrap {
  padding: 1rem 1.2rem;
  overflow: hidden;
}

.btn-light {
  background-color: #fff;
  border-color: #dee2e6;
  color: #212529;
}
.btn-icon {
  width: 2.6rem;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
}

strong{
  margin-left: 15px;
}

.row{
  --bs-gutter-x: 1.25rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 992px){
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}}

a {
  text-decoration: none;
  color: black;
}

figure{
  margin: 0;
}

.btn{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border:  1px solid transparent;
  user-select: none;
  padding: 0.43rem 0.84rem;
  font-size: 1rem;
  border-radius: 0.35rem;
}


  /*<!-- Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {

  }

  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {

  }

  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {

  }

  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {

  }

  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {

  }


  /*Alineacion Boton Flotante*/
  .floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
  }

  /*Boton FLotante Estilo al pasar el mouse*/
  .floating-container:hover .floating-button {
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    -webkit-transform: translatey(5px);
            transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #2cb3f0;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
.container {
  margin-top: 50px;
}