body {
    background: #D9D9D9;
  }
  .bg {
    background-image: url('../../../assets/img_auth/web_auth.png');
    background-position: center center;
    background-size: cover;
    border-radius: 5px 0px 0px 5px; 
  }

  .container {
    justify-content: center;
    margin-bottom: 50px;
  }