body {
    background: #D9D9D9;
  }
  .bg {
    background-image: url();
    background-position: center center;
    background-size: cover;
  }

  .container {
    justify-content: center;
    margin-bottom: 50px;
  }