<div class="container mt-5 px-5">
  <!--Titulo Componente-->
  <div class="mb-4">
      <h2>Pago de la Compra</h2>

  </div>

<div class="row">

  <div class="col-md-8">


      <div class="card p-3">
          <!--Detalles de pago-->
          <h6 class="text-uppercase">Detalles de Pago - Mercado Pago</h6>
          <div class="inputbox mt-3"> <input type="text" name="name" class="form-control" required="required"> <span>Titular de la Tarjeta</span> </div>


          <div class="row">
              <!--Numero de tarjeta-->
              <div class="col-md-6">

                  <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <i class="fa fa-credit-card"></i> <span>Número de Trajeta</span>


                  </div>


              </div>

              <div class="col-md-6">

                   <div class="d-flex flex-row">
                      <!--Vencimiento-->
                      <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Vencimiento</span> </div>
                      <!--Codigo Seguridad-->
                      <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>CVV</span> </div>


                   </div>


              </div>


          </div>



          <div class="mt-4 mb-4">
              <!--Facturacion-->
              <h6 class="text-uppercase">Direccion de Facturacion</h6>


              <div class="row mt-3">

                  <div class="col-md-6">
                    <!--Direccion-->
                    <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Calle y Altura</span> </div>


                  </div>


                   <div class="col-md-6">
                    <!--Ciudad-->
                      <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Ciudad</span> </div>


                  </div>




              </div>


              <div class="row mt-2">

                  <div class="col-md-6">
                    <!--Provincia-->
                      <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Provincia</span> </div>


                  </div>


                   <div class="col-md-6">
                    <!--Codigo Postal-->
                      <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Código Postal</span> </div>


                  </div>




              </div>

          </div>

      </div>


      <div class="mt-4 mb-4 d-flex justify-content-between">
        <!--Boton ir a pagar-->
        <a href="./carrito">
        <button class="btn btn-success">Volver a mi Carrito</button></a>
        <!--Boton Volver al carrito-->
        <button class="btn btn-success px-3">Pagar $20000 ARS</button>




      </div>

  </div>

  <div class="col-md-4">
      <!--Panel Lateral-->
      <div class="card card-blue p-3 text-white mb-3">
        <!--Titulo panel lateral-->
         <span>Total a Pagar</span>
         <!--Total a Pagar-->
          <div class="d-flex flex-row align-items-end mb-3">
              <h1 class="mb-0 yellow">$20000</h1> <span>ARS</span>
          </div>
          <!--Subtitulo Panel Lateral-->
          <span>Gracias Por Confiar en Nosotros</span>

          <div class="hightlight">
              <!--Acotacion-->
              <span>Patagonia Style: Las Mejores Zapatillas</span>


          </div>

      </div>

  </div>

</div>


</div>
