
<div class="body d-flex py-3">
  <div class="container-xxl">

    <div class="row align-items-center">
      <div class="border-0 mb-4">
        <div
          class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
          <h3 class="fw-bold mb-0">Agregar Productos</h3>
        </div>
      </div>
    </div> <!-- Row end  -->
    <form [formGroup]="formShoes" (submit)="addShoes()" errorTailor>
      <div class="row g-3 mb-3">
        <div class="col-xl-4 col-lg-4">
          <!-- Begin Menú Lateral  -->
          <div class="sticky-lg-top">
            <!-- Div Price  -->
            <div class="card mb-3">
              <div
                class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                <h6 class="m-0 fw-bold">Precio</h6>
              </div>

              <div class="card-body">
                <div class="row g-3 align-items-center">
                  <div class="col-md-12">
                    <label for="price" class="form-label">Precio Actual</label>
                    <input type="text" id="price" formControlName="price" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <!-- Div Estado  -->
            <div class="card mb-3">
              <div
                class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                <h6 class="m-0 fw-bold">Estado del Producto</h6>
              </div>
              <div class="card-body">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="publicado" name="statuse"
                      formControlName="statuse">
                    Publicado
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="pausado" formControlName="statuse" name="statuse">
                    Pausado
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="oculto" formControlName="statuse"
                      name="statuse">
                    Oculto
                  </label>
                </div>
              </div>
            </div>
            <!-- Div Talle -->
            <div class="card mb-3">
              <div
                class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                <h6 class="m-0 fw-bold">Talles</h6>
              </div>
              <div class="card-body">
                <select formControlName="size" class="form-select" size="3" aria-label="size 3 select example">
                  <option [ngValue]="null" disabled>Selecciona una categoria</option>
                  <option *ngFor="let size of sizes" [ngValue]="size">{{size.number}}</option>
                </select>
              </div>
            </div>
            <!-- Div Color -->
            <div class="card mb-3">
              <div
                class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                <h6 class="m-0 fw-bold">Colores</h6>
              </div>
              <div class="card-body">
                <select formControlName="colour" class="form-select" size="3" aria-label="size 3 select example">
                  <option [ngValue]="null" disabled>Selecciona un color</option>
                  <option *ngFor="let colour of colours" [ngValue]="colour">{{colour.colour}}</option>
                </select>
              </div>
            </div>

            <div class="card mb-3">
              <div
                class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                <h6 class="m-0 fw-bold">Marca</h6>
              </div>

              <!-- Div Marcas -->
              <div class="card-body">
                <label class="form-label">Seleccionar Marca</label>
                <select formControlName="brand" class="form-select" size="3" aria-label="size 3 select example">
                  <option [ngValue]="null" disabled>Selecciona una marca</option>
                  <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.name_brand}}</option>
                </select>
              </div>
            </div>

            <!-- Div Inventario  -->
            <div class="card">
              <div
                class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                <h6 class="m-0 fw-bold">Inventario</h6>
              </div>
              <div class="card-body">
                <div class="row g-3 align-items-center">
                  <div class="col-md-12">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="text" id="stock" formControlName="stock" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Principal  -->
        <div class="col-xl-8 col-lg-8">
          <!-- Información del Producto -->
          <div class="card mb-3">
            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
              <h6 class="mb-0 fw-bold ">Información</h6>
            </div>
            <div class="card-body">
              <div class="row g-3 align-items-center">
                <div class="col-md-6">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" id="name" formControlName="name" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="model" class="form-label">Modelo</label>
                  <input type="text" id="model" formControlName="model" class="form-control">
                </div>
                <div class="col-md-12">
                  <label class="form-label">URL de Producto</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text">https://</span>
                    <input type="text" class="form-control" value="/product/id1">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carga de Imagenes  -->
          <div class="card mb-3">
            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
              <h6 class="mb-0 fw-bold ">Imagen</h6>
            </div>
            <div class="card-body">
              <div class="row g-3 align-items-center">
                <div (ngSubmit)="addShoes()" class="class="form-container>
                  <input type="file" multiple (change)="onFileSelect($event)">
                  <div class="image-preview-container">
                    <div *ngFor="let image of selectedImages" class="image-preview">
                      <img [src]="image.url" alt="Vista previa de la imagen">
                    </div>
                  </div>
                  <button type="submit">Subir imágenes</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="border-0 mb-4">
              <div
                class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                <button type="submit" class="btn btn-primary btn-set-task w-sm-100 py-2 px-5 text-uppercase  mb-0">Subir</button>
              </div>
            </div>
          </div> <!-- Row end  -->
        </div>
      </div><!-- Row end  -->
    </form>
  </div>
</div>
