<div class="body d-flex py-3">
  <div class="container-xxl">

      <div class="row align-items-center">
          <div class="border-0 mb-4">
              <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                  <h3 class="fw-bold mb-0">Agregar Productos</h3>
                  <button type="submit" class="btn btn-primary btn-set-task w-sm-100 py-2 px-5 text-uppercase">Subir</button>
              </div>
          </div>
      </div> <!-- Row end  -->

      <div class="row g-3 mb-3">
          <div class="col-xl-4 col-lg-4">
            <!-- Begin Menú Lateral  -->
              <div class="sticky-lg-top">
                  <!-- Div Price  -->
                  <div class="card mb-3">
                      <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                          <h6 class="m-0 fw-bold">Precio</h6>
                      </div>
                      <div class="card-body">
                          <div class="row g-3 align-items-center">
                              <div class="col-md-12">
                                  <label class="form-label">Precio Anterior</label>
                                  <input type="text" class="form-control" value="$20000">
                              </div>
                              <div class="col-md-12">
                                  <label class="form-label">Precio Actual</label>
                                  <input type="text" class="form-control" value="$22000">
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Div Estado  -->
                  <div class="card mb-3">
                      <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                          <h6 class="m-0 fw-bold">Estado del Producto</h6>
                      </div>
                      <div class="card-body">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="couponsstatus" checked="">
                              <label class="form-check-label">
                                  Publicado
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="couponsstatus">
                              <label class="form-check-label">
                                  Pausado
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="couponsstatus">
                              <label class="form-check-label">
                                  Oculto
                              </label>
                          </div>
                      </div>
                  </div>
                  <!-- Div Talle -->
                  <div class="card mb-3">
                      <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                          <h6 class="m-0 fw-bold">Talle</h6>
                      </div>
                      <div class="card-body">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="sizechek1">
                              <label class="form-check-label" for="sizechek1">
                              38
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="sizechek2">
                              <label class="form-check-label" for="sizechek2">
                              39
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="sizechek3">
                              <label class="form-check-label" for="sizechek3">
                              40
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="sizechek4">
                              <label class="form-check-label" for="sizechek4">
                              41
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="sizechek5" checked="">
                              <label class="form-check-label" for="sizechek5">
                              42
                              </label>
                          </div>
                      </div>
                  </div>
                  <!-- Div Categorias -->
                  <div class="card mb-3">
                      <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                          <h6 class="m-0 fw-bold">Categorias</h6>
                      </div>
                      <div class="card-body">
                          <label class="form-label">Seleccionar Categorias</label>
                          <select class="form-select" size="3" aria-label="size 3 select example">
                              <option selected="">Deportivas</option>
                              <option value="1">Urbanas</option>
                          </select>
                      </div>
                  </div>

                    <div class="card mb-3">
                        <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                        <h6 class="m-0 fw-bold">Marca</h6>
                    </div>

                    <!-- Div Marcas -->
                    <div class="card-body">
                        <label class="form-label">Seleccionar Marca</label>
                        <select class="form-select" size="3" aria-label="size 3 select example">
                            <option selected="">Adidas</option>
                            <option value="1">Puma</option>
                            <option value="2">Nike</option>
                            <option value="3">Puma</option>
                            <option value="4">DC</option>
                            <option value="5">Jordan</option>
                            <option value="6">Gucci</option>
                            <option value="7">Converse</option>
                            <option value="8">New Balance</option>
                        </select>
                    </div>
                  </div>

                  <!-- Div Inventario  -->
                  <div class="card">
                      <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                          <h6 class="m-0 fw-bold">Inventario</h6>
                      </div>
                      <div class="card-body">
                          <div class="row g-3 align-items-center">
                              <div class="col-md-12">
                                  <label class="form-label">ID</label>
                                  <input type="text" class="form-control" value="ID1">
                              </div>
                              <div class="col-md-12">
                                  <label class="form-label">Stock</label>
                                  <input type="text" class="form-control" value="5">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Principal  -->
          <div class="col-xl-8 col-lg-8">
            <!-- Información del Producto -->
              <div class="card mb-3">
                  <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                      <h6 class="mb-0 fw-bold ">Información</h6>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row g-3 align-items-center">
                              <div class="col-md-6">
                                  <label class="form-label">Nombre</label>
                                  <input type="text" class="form-control" value="Puma lorem">
                              </div>
                              <div class="col-md-6">
                                <label class="form-label">Modelo</label>
                                <input type="text" class="form-control" value="No tengo Idea">
                            </div>
                              <div class="col-md-12">
                                  <label class="form-label">URL de Producto</label>
                                  <div class="input-group mb-3">
                                      <span class="input-group-text">https://</span>
                                      <input type="text" class="form-control" value="/product/id1">
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>


              <!-- Carga de Imagenes  -->
              <div class="card mb-3">
                  <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                      <h6 class="mb-0 fw-bold ">Imagen</h6>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row g-3 align-items-center">
                              <div class="col-md-12">
                                  <label class="form-label">Imagenes del Producto</label>
                                  <small class="d-block text-muted mb-2">Solo imagenes con ... MB máximo</small>
                                  <div class="dropify-wrapper has-preview"><div class="dropify-message"></div><input type="file" id="input-file-to-destroy" class="dropify" data-allowed-formats="portrait square" data-max-file-size="2M" data-max-height="2000" data-default-file=""></div>
                              </div>
                              <div class="col-md-12">
                                  <label class="form-label w-100">Seleccionar Color del Producto</label>
                                  <input type="color" id="color">
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div><!-- Row end  -->

  </div>
</div>
